body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4c7daf;
    color: white;
    padding: 20px;
    text-align: center;
}

#audio-player-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

#audio-player {
    width: 100%;
    margin-bottom: 20px;
}

#now-playing {
    padding: 10px;
    background-color: #4c7daf;
    border-left: 5px solid #23c4cf;
    color: white;
    margin-bottom: 20px;
}

/* Estilo para los contenedores colapsables (Libros) */
.book-container {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}

.book-title {
    background-color: #f9f9f9;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-title:hover {
    background-color: #eee;
}

.chapter-list {
    display: none; /* Por defecto colapsado */
    padding: 5px 0;
}

.chapter-list.active {
    display: block; /* Muestra cuando se le añade la clase 'active' */
    border-top: 1px solid #ddd;
}

.chapter-item {
    padding: 8px 20px;
    cursor: pointer;
    border-bottom: 1px dotted #eee;
}

.chapter-item:hover {
    background-color: #f1f1f1;
}

.chapter-item.playing {
    background-color: #4c7daf; /* Color para el capítulo actualmente reproduciendo */
    font-weight: bold;
    color: #000;
}

/* Icono de flecha para colapsar/expandir */
.toggle-icon {
    transition: transform 0.3s;
}

.book-title[aria-expanded="true"] .toggle-icon {
    transform: rotate(90deg);
}

.ima {
    width: 100px;
    float: left;
}
/* Estilo para los capítulos completados */
.chapter-item.completed {
    /* Opcional: para que se diferencie el texto */
    color: #c2d1de; 
    font-style: italic;
}

.chapter-item.completed::after {
    /* El símbolo de cotejo (checkmark) */
    content: '✓✔'; 
    float: right;
    margin-left: 10px;
    font-style: italic;
    font-size: large;
    font-weight: bolder;
    
}

/* Opcional: Asegura que el checkmark se oculte si el capítulo está reproduciéndose */
.chapter-item.completed.playing::after {
    content: ''; /* Oculta el checkmark cuando se está reproduciendo */
}